* {
  margin: 0;
}

body {
  background-color: #403D50;
  margin: 0 30vh;
}

.preveiw{
  color: rgb(216, 198, 198);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  padding-top: 25%;
}

.title {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: cursive;
  padding: 1rem 0;
  color: rgb(216, 216, 216);
}

main {
  display: flex;
  min-height: 80vh;
}

.player-list {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background-color: #1F1D2C;
}

.player-details {
  flex: 7;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  background-color: #262837;
  padding: 2rem;
}

.player {
  padding: 1rem;
  border: none;
  background: none;
  color: rgb(200, 200, 200);
  cursor: pointer;
  font-weight: 400;
  border-bottom: thin solid #9b9da3;
  text-align: left;
  font-family: cursive;
}

.player:hover {
  background-color: #211f2b;
  color: rgb(70, 64, 64);
  transition: all 0.2s ease-in-out;  
}

.player-details-content {
  display: flex;
  position: relative;
}

.player-attribute {
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
}

.attribute {
  padding: 0.5rem 0;
  color: rgb(209, 209, 209);
  font-family: cursive;
}

.player-image{
  position: absolute;
  top: -2rem;
  right: 3rem;
}

img:not(#error-message){
  max-width: 25vw;
  max-height: 25vh;
  border-radius: 50%;
}

#error-message{
  height: 80vh;
  width: 80vw;
}

.player-name{
  color: rgb(209, 209, 209);
  font-family: cursive;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.player-live {
  background-color: #262837;
  border-left: 0.25rem solid rgb(255, 255, 255);
  border-bottom: 0;
  padding-left: -0.5rem;
  animation: font-scale 0.3s ease-in-out 0s 1 forwards;
  box-sizing: border-box;
}

@keyframes font-scale {
  0%{
    font-size: 1rem;
  }
  100%{
    font-size: 1.05rem;
  }
}